@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    margin: 0;
    background-image: url(./imagens/back2.jpg);
    background-size: 100% 170%;
    font-family: "Roboto", "Helvetica Neue";   
}

/*Header*/
body ul li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

li{
    text-decoration: none;
    margin-right: 50px;
    color: #BF7967;
    font-size: 20px;
}

.menu{
    display: flex;
    
}
.menu li{
    margin-left: 25px;
}
.menu li a {
    color: #BF7967;
    display: block;
    padding: 10px;
}

.title{
    
    font-size: 20px;
    color: #BF7967;
    font-family: Arial, Helvetica, sans-serif;
    
   }

   /* Body*/
   
p{
    color: #BF7967;
    font-size: 20px;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 5px;
}

#container{
    text-align: center;
    width: 300px;
    height: 250px;
    margin-left: 10%;
    border-radius: 10px;
}
input{
    font-size: 20px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 10px;
}
button{
    font-size: 25px;
    border-radius: 10px;
    margin-top: 10px;
}

#resultado{
    left:50%;
    top:50%;
    margin-left:-100px; /* Metade do valor da Largura */
    margin-top:-140px; /* Metade da valor da Altura */
    position: absolute;
    font-size: 50px;
}
/*footer*/