body{
    background-image: url(./imagens/back2.jpg);
    background-size: 100% 170%;
    

}
.menu{
    display:inline-flex;
    background-color: blueviolet;
    font-size: 22px;
}

ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.title{
    display:inline-flex;
    margin-left: 10%;
    font-size: 30px;
    color: #D5A075;
    background-color: rgb(43, 183, 226);
    padding: 0;
   }
   
p{
    color: #D5A075;
    font-size: 25px;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 5px;
}

h1{
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    text-align: center;
    width: 400px;
    height: 250px;
    margin-left: 5%;
    border-radius: 10px;
}
input{
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 10px;
}
button{
    font-size: 30px;
    border-radius: 10px;
}